body {
    margin: 0;
    padding-top: 80px; /* navbar height */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
  height: 60px;
  width: 60px;
  background-color: #b079e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

/* home start */
#home {
  padding-top: 60px;
}

.home-row {
  min-height: 90vh;
}

.main-heading1 {
  font-size: 42px;
  margin-top: 10px;
}


.para {
  font-size: 18px;
  max-width: 500px;
}

.btn-hello {
  width: 140px;
  height: 45px;
  background-color: #9929fb;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.mid-box {
  width: 80%;
  margin: auto;
  margin-top: 30px;

  background: #e5e5e5;
  padding: 15px;
  border-radius: 15px;
}

.mid-box img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .left1 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.mid-box {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background: #e5e5e5;
  padding: 15px;
  border-radius: 15px;
}

.mid-box img {
  width: 100%;
  border-radius: 10px;
}

/* home end */

/* about start */

.contact {
  padding: 40px;
}

.box {
  min-height: 500px;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid red;
}

.left {
  display: flex;
  justify-content: center;
}

.img-card {
  height: 400px;
  max-width: 450px;
  background: #e5e5e5;
  padding: 15px;
  border-radius: 15px;
}

.img-card img {
  width: 100%;
  height: 100%;
  display: block;
}


@media (max-width: 768px) {
  .right {
    padding-left: 0;
    text-align: center;
  }

  .img-card {
    height: 200px;
  }
  .right{
    padding: 0px !important;
  }
}

.right {
  padding-left: 20px;
}

.right h1 {
  font-size: 40px;
}

/* .right p {
  margin: 20px 0;
} */

.right button {
  background: #9333ea;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 8px;
}

/* about end */

/* project start */

.project-card {
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.project-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.project-content {
    padding: 15px;
    text-align: center;
}

.project-content p {
    font-size: 14px;
}
.tech-icons {
    margin: 10px 0;
}

.tech-icons img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.tech-icons img:hover {
    transform: scale(1.2);
}

/* Button */
.view-btn {
    display: inline-block;
    padding: 8px 15px;
    background: linear-gradient(45deg, #ff7a18, #ffb347);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.view-btn:hover {
    background: linear-gradient(45deg, #ffb347, #ff7a18);
    transform: scale(1.05);
}

/* Hover Card */
.project-card:hover {
    transform: translateY(-10px);
}

/* project end */

/* skill start */

.skill-card {

  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(231, 9, 9);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.skill-card img {
  width: 70px;
  margin-bottom: 15px;
  transition: 0.4s;
}

.skill-card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
}

.skill-card:hover img {
  transform: rotate(10deg) scale(1.1);
}

.skill-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(45deg, #007bff, #ff00cc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: 0.4s;
}

.skill-card:hover::before {
  opacity: 1;
}

/* skill end */

/* what start */
.what {
  display: flex;
  justify-content: center;
  align-items: center;

}

.what-box {
  width: 86%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 10px rgb(59, 12, 228);
  overflow: auto;
}

.what-box h2 {
  text-align: center;
  margin-bottom: 15px;
}

.service {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(214, 77, 77, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  transition: 0.3s;
}

.service:hover {
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.1),
    0 0 15px rgba(153, 41, 251, 0.3);
}

.icon {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  background: rgba(153, 41, 251, 0.15);
  box-shadow: 0 0 10px rgba(153, 41, 251, 0.4), 0 0 20px rgba(153, 41, 251, 0.2);


  font-size: 20px;
}


.service h5 {
  margin: 0;
}

.service p {
  font-size: 13px;
  margin: 2px 0 0;
}

.service:hover .icon {
  background: #9929fb;
  color: white;
}

.sml-icon-box {
  height: 60px;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
}

.sml-icon-box:hover {
  background-color: #9929fb;
}

.sml-icon-box:hover a>i {
  color: white;
}

.small-icon {
  color: #9929fb;
}



.sml-box {
  height: 70px;
  width: 60%;
  border-radius: 10px;
  transition: 0.6s ease;
}

.sml-box:hover {
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.1),
    0 0 15px rgba(153, 41, 251, 0.3);
  transform: translateY(-5px);
}

/*Contact start */


.xp-bs-box {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(231, 9, 9);
}

.xp-icon {
  background: #efe7ff;
  color: #7c3aed;
  padding: 10px;
  border-radius: 8px;
}

.xp-input {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.xp-input:focus {
  border-color: #7c3aed !important;
  box-shadow: none !important;
}

.xp-btn {
  background: #7c3aed;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
}

.xp-btn:hover {
  background: #5b21b6;
}

.footer-custom {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .footer-custom {
    width: 95%;
  }
}

.footer-custom a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-custom a:hover {
  color: #9929fb;
}

.footer-custom h5 {
  margin-bottom: 15px;
}

.footer-custom p {
  font-size: 14px;
  line-height: 1.6;
}

.social-icon {
  font-size: 20px;
  color: #bdbdbd;
  transition: 0.3s;
}

.social-icon:hover {
  color: #9929fb;
  transform: scale(1.2);
}

.footer-custom hr {
  border-color: rgba(255, 255, 255, 0.1);
}

.footer-custom .bottom-text {
  font-size: 13px;
}

.text {
  border-right: 3px solid black;
  padding-right: 5px;
  margin-left: 20px;
}

.navbar-nav .nav-link {
  font-size: 20px !important;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  background-color: #9929fb;
  border-radius: 5px;
}


.xp-bs-contact .container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

@media (max-width: 768px) {

  .footer-custom,
  .xp-bs-contact .container {
    width: 95%;
  }
}